language: go

go:
  - 1.15.x
  - tip

git:
  depth: 1

branches:
  only:
    - main

before_install:
  - go get -t -v ./...
  - chmod +x ./test.sh

script:
  - ./test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
